@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}
body {
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background:  #fcfcfc;

}
 
.wrapper{
    width: 420px;
    background: white;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur (20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.712);
    color: #1b1a1a;
    border-radius: 10px;
    padding:  30px 40px;

}
.wrapper .login {
    font-size: 25px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    position: relative;
    text-align: center;
  }
  
  .wrapper .login::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    width: 50px;
    height: 3px;
    background: linear-gradient(135deg, #358279, #ff9500);
    border-radius: 2px;
  }
.wrapper h1{
    font-size: 36px;
    text-align: center;

}
.wrapper i{
    color: #358279;
}
.wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px; 
    margin: 30px 0;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(38, 38, 38, 0.418);
    border-radius: 40px;
    font-size: 16px;
    color:  #1b1a1a;
    padding: 20px 45px 20px 20px;
}
 
.input-box input ::placeholder{
    color: white;
}
.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;

}
.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;

}

.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;

}

.remember-forgot a {
    color: #fff;
    text-decoration: none;

}

.remember-forgot a :hover {
    text-decoration: underline;

}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #358279;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fefefe;
    font-weight: 600;
}

.wrapper .btn:hover{
    background: #d37612;
    transition: all 0.3s;
}
.wrapper .register-link{
    font-size: 14.5px;
    text-align: center;
    margin:20px 0 15px; 

}

.register-link p a {
    color: #358279;
    text-decoration: none;
    font-weight: 600;

}
.register-link p a :hover{
    text-decoration: underline;
}